.question {
    margin-bottom: 15px;
}

.question_title {
    font-size: 20px;
    margin-bottom: 15px;
}
  
.antCheckbox {
    margin-left: 20px;
}

.submit_section {
    position: absolute;
    width: 300px;
    left: 77%;
    top: 10%;
}